<div class="row">
  <div class="col-md-12">
    <h3 class="text-center">
      <!-- Оборудование для киосков -->
      Title
    </h3>
    <%= render 'form' %>
  </div>
</div>

<div id="products" class="row">
  <%= render @products %>
</div>
